<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carlos</title>
</head>
<body>
    <h1>Calculadora Online de criptomoedas</h1>
    <form action="/submit" method="POST">
        <label for="label1">Preço atual em dolar: </label>
        <input type="text" id="label1" name="label1"><br><br>

        <label for="label2">Quantiadade de moedas compradas: </label>
        <input type="text" id="label2" name="label2"><br><br>

        <button type="submit">Enviar</button>
        <button type="submit">Calcular</button>

    </form>
</body>
</html>
